
body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
/*Headings*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}
.container-fluid {
  padding: 7% 15%;
}
.Big-heading {
  font-family: "Montserrat", sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: bold;
}
.section-heading
{
  font-size: 3rem;
  line-height: 1.5;
}

/*sections*/
.colored-section
{
  background-color: #ff4c68;
  color: white; /*so by adding text in the future u will stilll have same color scheme*/
}
.white-section
{
  background-color: white;
}

/*Nav bar*/
.navbar {
  padding: 0 0 4.5rem;
}
.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}
.nav-item {
  padding: 0 18px;
}

/*download buttons*/
.download-buttons {
  margin: 5% 3% 5% 0;
}
/*title section*/
#title .container-fluid
{
  text-align: left;
  padding: 3% 15% 7%;
}
/*Title Image*/
.iphone {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}
/*Font Awesome Editing*/
.fa-solid {
  color: #ef8172;
  margin-bottom: 1rem;
}
.fa-solid:hover {
  color: #ff4c68;
}
/*Features Section*/
#features {
  padding: 7% 15%;
  position: relative;
  z-index: 1;
}
.style-feature {
  padding: 5%;
}
.features-heading {
  font-size: 1.5rem;
}

.paragraph-style {
  color: #8f8f8f;
}

/*Testimonial section*/
#testimonials {
  background-color: #ef8172;
}
.Dog-img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/*Press Section */
#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}
.press-logo {
  width: 15%;
  margin: 20px 20px 50px 50px;
}
.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
/*pricing section*/
#pricing {
  padding: 100px;
}
.primary-col {
  padding: 3% 2%;
}
.price-tag{
  font-size: 1.5rem;
}
p {
  color: #8f8f8f;
}

/*Call to Action*/
#cta {
  height: 400px;
}
.cta-heading {

  width: 50%;
  margin: auto auto 70px auto;
  position: relative;
  top: 70px;
  bottom: 20px;
}
/*Footer-Secion*/
#footer {

  height: 120px;
}
.font-awesome-footer {
  margin: 80px auto 10px auto;
}
.fa {
  margin: auto 10px auto 10px;
}
.fa-envelope {
  color: #212529;
}
.footer-para {
  margin-bottom: 20px;
}
/*Mobile-Friendly*/

@media (max-width: 1028px) {
  .iphone {
    position: static;
    transform: rotate(0);
  }
  #title {
    text-align: center;
  }
}
